In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
sns.set_palette("Blues_d")

from IPython.display import HTML

# import the widgets module
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

warnings.filterwarnings("ignore")
sns.set(style="whitegrid")

# EDA

In [2]:
data = pd.read_csv('housemid.csv')

In [3]:
data.describe()

,Dem2018,Rep2018,voteshare,TRUMP.SCORE,Clinton_2016,Trump_2016,Obama_2012,Romney_2012,Obama_2008,McCain_2008,...,Black,Latino,Asian,Native,Other,BA,BA_WHite,Med_Income,Inc_F,Rep.forecast
count,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,...,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000
mean,51.648916,47.186997,63.276842,64.209907,47.516718,47.311765,49.926006,48.415789,51.573065,46.878019,...,11.792879,11.621362,4.156656,0.670588,1.604644,30.946749,35.489474,60716.061920,0.176471,46.471022
std,16.626620,16.587341,10.685719,36.391801,16.458205,16.316784,15.223517,15.212539,13.990855,14.077577,...,13.177875,14.411577,5.817305,1.943879,1.302772,10.865723,12.626690,16972.908745,0.381812,16.688744
min,17.000000,4.000000,4.160000,6.500000,16.900000,4.900000,18.500000,3.000000,22.300000,5.200000,...,0.400000,0.700000,0.200000,0.000000,0.200000,7.900000,12.500000,29234.000000,0.000000,4.140000
25%,39.200000,34.400000,54.955000,21.600000,35.150000,36.350000,38.300000,37.750000,41.750000,37.400000,...,3.250000,2.600000,1.000000,0.200000,1.100000,23.050000,26.000000,48736.500000,0.000000,32.335000
50%,49.300000,49.700000,62.640000,89.100000,44.200000,49.700000,47.800000,50.900000,49.700000,48.400000,...,7.000000,5.800000,1.900000,0.300000,1.300000,29.000000,33.100000,57146.000000,0.000000,50.420000
75%,64.500000,60.250000,69.560000,96.700000,58.400000,58.650000,60.700000,59.800000,60.900000,56.950000,...,14.450000,14.200000,4.450000,0.500000,1.800000,36.850000,42.550000,68723.000000,0.000000,59.265000
max,96.000000,81.400000,95.860000,100.000000,93.800000,80.400000,96.700000,80.200000,94.600000,77.000000,...,66.400000,77.100000,45.400000,21.800000,19.500000,72.200000,80.300000,125790.000000,1.000000,95.840000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          323 non-null    object
 1   Dem2018           323 non-null    float64
 2   Rep2018           323 non-null    float64
 3   state             323 non-null    object
 4   party             323 non-null    object
 5   voteshare         323 non-null    float64
 6   TRUMP.SCORE       323 non-null    float64
 7   Inc_fname         323 non-null    object
 8   Inc_lname         323 non-null    object
 9   inc_year_elected  323 non-null    object
 10  inc_birth         323 non-null    object
 11  inc_gender        322 non-null    object
 12  inc_race          323 non-null    object
 13  inc_religion      320 non-null    object
 14  inc_lgbtq         323 non-null    object
 15  inc_2016status    323 non-null    object
 16  Clinton_2016      323 non-null    float64
 17  Trump_2016        323 non-null    float64
 18  Obama_2012        323 non-null    float64
 19  Romney_2012       323 non-null    float64
 20  Obama_2008        323 non-null    float64
 21  McCain_2008       323 non-null    float64
 22  HouseD_2016       323 non-null    float64
 23  HouseR_2016       323 non-null    float64
 24  HouseD_2014       323 non-null    object
 25  HouseR_2014       293 non-null    float64
 26  HouseD_2012       323 non-null    object
 27  HouseR_2012       293 non-null    float64
 28  White             323 non-null    float64
 29  Black             323 non-null    float64
 30  Latino            323 non-null    float64
 31  Asian             323 non-null    float64
 32  Native            323 non-null    float64
 33  Other             323 non-null    float64
 34  BA                323 non-null    float64
 35  BA_WHite          323 non-null    float64
 36  Med_Income        323 non-null    int64
 37  Inc_F             323 non-null    int64
 38  Rep.forecast      323 non-null    float64
dtypes: float64(23), int64(2), object(14)
memory usage: 98.5+ KB

Here we use `df.info()` to get an idea of where null/nan values are found. There are 323 entries in this Dataframe.  


Colums with null/nan values: `inc_religion`, `HouseR_2014`, `HouseR_2012`

### `inc_religion`

To deal with the missing religious values, we will use outside [data](http://acme.highpoint.edu/~msetzler/Congressional_District_Religiosity_Dataset/Congressional_District_Religiosity_Dataset%20.htm) to fill them in

In [8]:
religion_by_district = pd.read_csv('116congress_religion_estimates.csv').drop('YR elected', axis=1)
religion_by_district

,CD,Any Congregation,No Congregation,Evangel. Prot Congregation,Roman Catholic,Mainline Prot,Other
0,AK00,33.909,66.091,14.215,7.162,4.583,7.949
1,AL01,59.330,40.670,35.985,6.836,8.113,8.396
2,AL02,62.924,37.076,41.722,2.067,9.351,9.783
3,AL03,57.356,42.644,39.893,1.959,7.434,8.069
4,AL04,66.664,33.336,53.692,4.246,5.527,3.198
...,...,...,...,...,...,...,...
430,WI08,64.179,35.821,17.284,35.773,10.300,0.822
431,WV01,41.116,58.884,11.871,9.697,17.405,2.142
432,WV02,33.470,66.530,12.761,4.051,14.375,2.283
433,WV03,32.013,67.987,15.809,1.780,12.709,1.716
434,WY00,39.578,60.422,10.512,10.862,6.483,11.722

Finding the districts with null values.

In [33]:
data[data['inc_religion'].isnull() == True]

,District,Dem2018,Rep2018,state,party,voteshare,TRUMP.SCORE,Inc_fname,Inc_lname,inc_year_elected,...,Black,Latino,Asian,Native,Other,BA,BA_WHite,Med_Income,Inc_F,Rep.forecast
16,AZ-8,44.4,55.6,AZ,R,52.29,95.5,Debbie,Lesko,2018 Special,...,4.2,14.6,2.7,0.7,1.5,29.4,31.3,61754,1,52.29
235,OH-12,47.1,51.6,OH,R,49.83,100.0,Troy,Balderson,2018 Special,...,4.4,1.7,2.0,0.1,1.7,41.0,39.9,67415,0,49.83
284,TX-27,36.6,60.3,TX,R,61.70,100.0,Michael,Cloud,2018 Special,...,5.4,45.2,1.1,0.2,0.8,20.3,29.3,53047,0,61.70

In [11]:
religion_by_district[religion_by_district['CD'].isin(['AZ08', 'OH12', 'TX27'])]

,CD,Any Congregation,No Congregation,Evangel. Prot Congregation,Roman Catholic,Mainline Prot,Other
19,AZ08,39.073,60.927,14.001,13.640,2.728,8.704
309,OH12,36.260,63.740,12.278,10.408,10.044,3.531
387,TX27,63.090,36.910,22.278,31.363,5.915,3.534

In [28]:
data.iat[16, 13] = 'None'
data.iat[235, 13] = 'None'
data.iat[284, 13] = 'Any'

In [29]:
data[data['inc_religion'].isnull() == True]

Empty DataFrame
Columns: [District, Dem2018, Rep2018, state, party, voteshare, TRUMP.SCORE, Inc_fname, Inc_lname, inc_year_elected, inc_birth, inc_gender, inc_race, inc_religion, inc_lgbtq, inc_2016status, Clinton_2016, Trump_2016, Obama_2012, Romney_2012, Obama_2008, McCain_2008, HouseD_2016, HouseR_2016, HouseD_2014, HouseR_2014, HouseD_2012, HouseR_2012, White, Black, Latino, Asian, Native, Other, BA, BA_WHite, Med_Income, Inc_F, Rep.forecast]
Index: []

[0 rows x 39 columns]

### `HouseR_2014` and `HouseR_2012`

In [104]:
data.iloc[:, 22:28]

,HouseD_2016,HouseR_2016,HouseD_2014,HouseR_2014,HouseD_2012,HouseR_2012
0,36.0,50.3,41,51.0,30.9,69.1
1,0.0,96.4,31.7,68.2,0,100.0
2,40.5,48.8,32.6,67.3,36.3,63.7
3,32.9,66.9,33.7,66.1,35.9,64.1
4,0.0,98.5,0,98.6,25.9,74.1
...,...,...,...,...,...,...
318,38.3,61.7,39.4,59.3,43.8,56.2
319,37.3,62.6,34.9,65.0,44,56.0
320,31.0,69.0,36.1,63.9,37.5,62.5
321,41.8,58.2,43.9,47.1,30.2,69.8
322,30.0,62.0,22.9,68.5,25.7,74.3

In [97]:

data[data['HouseR_2014'].isnull() == True]

,District,Dem2018,Rep2018,state,party,voteshare,TRUMP.SCORE,Inc_fname,Inc_lname,inc_year_elected,...,Black,Latino,Asian,Native,Other,BA,BA_WHite,Med_Income,Inc_F,Rep.forecast
71,FL-11,34.8,65.1,FL,R,65.18,90.8,Daniel,Webster,2010,...,6.2,7.3,0.9,0.3,0.9,20.6,21.2,43610,0,65.18
72,FL-12,39.7,58.1,FL,R,57.64,97.8,Gus,Bilirakis,2006,...,3.9,9.0,1.9,0.3,0.9,26.9,26.7,49774,0,57.64
73,FL-13,57.6,42.4,FL,D,63.09,41.1,Charlie,Crist,2016,...,11.2,6.4,2.8,0.3,1.2,27.8,28.8,48519,0,36.91
74,FL-16,45.4,54.6,FL,R,53.13,96.6,Vern,Buchanan,2006,...,7.6,9.4,1.6,0.2,0.9,30.7,33.2,55447,0,53.13
75,FL-18,45.7,54.3,FL,R,53.96,93.5,Brian,Mast,2016,...,10.7,10.0,1.6,0.2,0.8,30.5,33.6,54913,0,53.96
77,FL-2,32.5,67.5,FL,R,66.46,98.9,Neal,Dunn,2016,...,12.8,4.3,1.2,0.4,1.3,23.4,24.3,46062,0,66.46
78,FL-22,62.0,38.0,FL,D,65.16,19.1,Ted,Deutch,2010 Special,...,11.6,15.8,2.5,0.2,1.2,37.9,43.2,60159,0,34.84
79,FL-23,58.5,36.0,FL,D,65.00,16.7,Debbie,Wasserman Schultz,2004,...,12.5,30.8,3.4,0.3,1.1,38.6,39.7,61513,1,35.00
80,FL-25,39.5,60.5,FL,R,52.24,94.4,Mario,Diaz-Balart,2002,...,3.9,68.0,1.0,0.2,0.3,22.7,33.9,46247,0,52.24
81,FL-26,50.9,49.1,FL,R,49.48,83.0,Carlos,Curbelo,2014,...,11.7,63.5,1.6,0.1,0.6,27.2,32.8,54453,0,49.48
82,FL-3,42.4,57.6,FL,R,58.89,91.0,Ted,Yoho,2012,...,15.0,7.2,2.5,0.3,1.5,25.9,26.5,45970,0,58.89
83,FL-4,32.3,65.2,FL,R,66.47,98.9,John,Rutherford,2016,...,8.8,6.0,3.2,0.2,1.6,39.2,39.8,68229,0,66.47
84,FL-5,66.8,33.2,FL,D,71.01,36.8,Al,Lawson,2016,...,45.3,5.4,1.9,0.3,1.5,21.4,25.0,40932,0,28.99
85,FL-7,57.7,42.3,FL,D,55.98,50.0,Stephanie,Murphy,2016,...,9.6,19.9,3.3,0.1,1.4,37.8,44.3,57146,1,44.02
87,FL-9,58.0,42.0,FL,D,58.90,21.5,Darren,Soto,2016,...,11.3,33.2,2.6,0.2,1.2,24.6,28.8,49899,0,41.10
184,NC-1,69.8,30.2,NC,D,72.55,19.8,G.K.,Butterfield,2004 Special,...,46.1,2.6,1.3,0.7,1.4,27.7,37.7,40895,0,27.45
185,NC-10,40.7,59.3,NC,R,61.94,98.9,Patrick,McHenry,2004,...,11.7,2.4,1.1,0.3,0.9,24.6,26.5,46508,0,61.94
186,NC-11,38.7,59.2,NC,R,60.29,90.0,Mark,Meadows,2012,...,3.1,2.0,0.9,1.3,1.0,24.0,25.2,43855,0,60.29
187,NC-12,73.0,27.0,NC,D,72.78,15.7,Alma,Adams,2014 Special,...,39.4,5.6,3.1,0.3,2.0,39.8,52.3,59268,1,27.22
188,NC-13,45.5,51.6,NC,R,49.34,90.2,Ted,Budd,2016,...,21.9,2.7,1.9,0.4,1.1,27.0,29.6,47440,0,49.34
189,NC-2,45.7,51.4,NC,R,51.93,92.5,George,Holding,2012,...,20.5,4.1,1.4,0.5,1.3,36.2,40.5,65792,0,51.93
190,NC-4,72.3,24.1,NC,D,74.84,17.4,David,Price,"1996, 1986-1994",...,23.3,3.9,4.9,0.4,1.6,54.5,63.9,70587,0,25.16
191,NC-5,42.8,57.2,NC,R,56.83,93.5,Virginia,Foxx,2004,...,14.4,3.1,0.9,0.3,0.9,26.3,27.7,45001,1,56.83
192,NC-6,43.4,56.6,NC,R,54.20,92.0,Mark,Walker,2014,...,20.6,3.1,1.0,0.4,1.1,24.6,28.3,47335,0,54.20
193,NC-7,42.7,55.6,NC,R,51.65,92.3,David,Rouzer,2014,...,20.0,2.8,0.6,0.7,1.2,24.9,29.7,45002,0,51.65
194,NC-8,44.5,55.5,NC,R,54.20,93.1,Richard,Hudson,2012,...,22.6,5.4,1.5,1.0,1.8,26.5,29.5,50570,0,54.20
298,VA-1,44.7,55.2,VA,R,57.10,90.1,Rob,Wittman,2007 Special,...,16.7,5.3,2.4,0.4,1.9,37.5,41.2,81338,0,57.10
301,VA-2,51.0,48.8,VA,R,51.26,97.8,Scott,Taylor,2016,...,19.3,5.5,4.4,0.3,2.4,34.4,38.5,66953,0,51.26
302,VA-4,62.5,36.1,VA,D,62.58,19.1,Donald,McEachin,2016,...,41.5,2.8,1.6,0.3,1.8,30.1,37.8,54607,0,37.42
303,VA-7,50.3,48.4,VA,R,49.07,89.1,Dave,Brat,2014 Special,...,18.4,3.5,3.0,0.2,1.6,39.0,43.1,73580,0,49.07

In [98]:
data[data['HouseR_2014'].isnull() == True]['HouseR_2014']

71    NaN
72    NaN
73    NaN
74    NaN
75    NaN
77    NaN
78    NaN
79    NaN
80    NaN
81    NaN
82    NaN
83    NaN
84    NaN
85    NaN
87    NaN
184   NaN
185   NaN
186   NaN
187   NaN
188   NaN
189   NaN
190   NaN
191   NaN
192   NaN
193   NaN
194   NaN
298   NaN
301   NaN
302   NaN
303   NaN
Name: HouseR_2014, dtype: float64

In [99]:
data[data['HouseR_2014'].isnull() == True]['HouseR_2014'].index

Int64Index([ 71,  72,  73,  74,  75,  77,  78,  79,  80,  81,  82,  83,  84,
             85,  87, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
            298, 301, 302, 303],
           dtype='int64')

In [101]:
# NAN values in HouseR_2014 correspond to Redrawn values in HouseD_2012 
data[data['HouseR_2014'].isnull() == True]['HouseR_2014'].index == data[data['HouseD_2012'] == "      Redrawn"]['HouseD_2012'].index

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [52]:
data['HouseD_2014'].value_counts()

      Redrawn    30
0                20
100               5
38.3              3
34.6              3
                 ..
78.5              1
98.2              1
37.8              1
38.9              1
72.5              1
Name: HouseD_2014, Length: 212, dtype: int64

In [56]:
data[data['HouseD_2012'] == "      Redrawn"]['HouseD_2012']

71           Redrawn
72           Redrawn
73           Redrawn
74           Redrawn
75           Redrawn
77           Redrawn
78           Redrawn
79           Redrawn
80           Redrawn
81           Redrawn
82           Redrawn
83           Redrawn
84           Redrawn
85           Redrawn
87           Redrawn
184          Redrawn
185          Redrawn
186          Redrawn
187          Redrawn
188          Redrawn
189          Redrawn
190          Redrawn
191          Redrawn
192          Redrawn
193          Redrawn
194          Redrawn
298          Redrawn
301          Redrawn
302          Redrawn
303          Redrawn
Name: HouseD_2012, dtype: object

In [91]:
# checking how many rows with redrawn values
len(data[data['HouseD_2012'] == "      Redrawn"]['HouseD_2012'].index)

30

In [92]:
# Checking if the same rows are REDRAWN in both HOUSEd_2014 & HOUSEd_2012

data[data['HouseD_2014'] == "      Redrawn"]['HouseD_2014'].index == data[data['HouseD_2012'] == "      Redrawn"]['HouseD_2012'].index

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [68]:
data_no_red = data[data['HouseD_2014'] != "      Redrawn"]
data_no_red

,District,Dem2018,Rep2018,state,party,voteshare,TRUMP.SCORE,Inc_fname,Inc_lname,inc_year_elected,...,Black,Latino,Asian,Native,Other,BA,BA_WHite,Med_Income,Inc_F,Rep.forecast
0,AK-1,45.8,53.7,AK,R,51.39,93.5,Don,Young,1973 Special,...,3.1,5.4,5.0,13.0,5.6,29.6,36.7,76440,0,51.39
1,AL-1,36.7,63.2,AL,R,65.84,96.8,Bradley,Byrne,2016,...,26.5,1.8,0.9,1.0,1.1,24.0,27.7,47083,0,65.84
2,AL-2,38.4,61.4,AL,R,57.86,96.7,Martha,Roby,2010,...,29.9,1.8,0.7,0.4,1.1,21.8,24.2,42035,1,57.86
3,AL-3,36.0,63.9,AL,R,62.03,96.8,Mike,Rogers,2002,...,25.1,1.7,0.7,0.3,0.9,22.8,23.7,46544,0,62.03
4,AL-4,20.1,79.8,AL,R,76.97,97.8,Robert,Aderholt,1996,...,6.9,1.8,0.5,0.7,1.3,17.0,17.8,41110,0,76.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,WI-7,38.5,60.2,WI,R,58.94,94.4,Sean,Duffy,2010,...,0.5,1.2,1.0,1.8,0.9,23.1,23.4,51738,0,58.94
319,WI-8,36.3,63.7,WI,R,60.91,94.6,Mike,Gallagher,2016,...,1.0,2.2,1.4,2.1,1.0,25.4,26.0,57888,0,60.91
320,WV-1,35.4,64.6,WV,R,62.64,97.8,David,McKinley,2010,...,2.4,0.9,0.6,0.2,0.9,23.5,23.1,45611,0,62.64
321,WV-2,43.0,54.0,WV,R,53.69,84.9,Alex,Mooney,2014,...,3.8,1.3,0.6,0.2,1.6,21.5,21.1,48358,0,53.69
322,WY-1,29.8,63.6,WY,R,63.15,95.7,Liz,Cheney,2016,...,0.9,6.9,0.6,1.8,1.5,27.1,28.5,59882,1,63.15

In [69]:
data_no_red.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 0 to 322
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          293 non-null    object
 1   Dem2018           293 non-null    float64
 2   Rep2018           293 non-null    float64
 3   state             293 non-null    object
 4   party             293 non-null    object
 5   voteshare         293 non-null    float64
 6   TRUMP.SCORE       293 non-null    float64
 7   Inc_fname         293 non-null    object
 8   Inc_lname         293 non-null    object
 9   inc_year_elected  293 non-null    object
 10  inc_birth         293 non-null    object
 11  inc_gender        292 non-null    object
 12  inc_race          293 non-null    object
 13  inc_religion      293 non-null    object
 14  inc_lgbtq         293 non-null    object
 15  inc_2016status    293 non-null    object
 16  Clinton_2016      293 non-null    float64
 17  Trump_2016        293 non-null    float64
 18  Obama_2012        293 non-null    float64
 19  Romney_2012       293 non-null    float64
 20  Obama_2008        293 non-null    float64
 21  McCain_2008       293 non-null    float64
 22  HouseD_2016       293 non-null    float64
 23  HouseR_2016       293 non-null    float64
 24  HouseD_2014       293 non-null    object
 25  HouseR_2014       293 non-null    float64
 26  HouseD_2012       293 non-null    object
 27  HouseR_2012       293 non-null    float64
 28  White             293 non-null    float64
 29  Black             293 non-null    float64
 30  Latino            293 non-null    float64
 31  Asian             293 non-null    float64
 32  Native            293 non-null    float64
 33  Other             293 non-null    float64
 34  BA                293 non-null    float64
 35  BA_WHite          293 non-null    float64
 36  Med_Income        293 non-null    int64
 37  Inc_F             293 non-null    int64
 38  Rep.forecast      293 non-null    float64
dtypes: float64(23), int64(2), object(14)
memory usage: 91.6+ KB

In [76]:
data_no_red['HouseD_2014'] = pd.to_numeric(data_no_red["HouseD_2014"], downcast="float")
data_no_red['HouseD_2012'] = pd.to_numeric(data_no_red["HouseD_2012"], downcast="float")

In [81]:
# checking that types are now changed to numerical values
data_no_red.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 0 to 322
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          293 non-null    object
 1   Dem2018           293 non-null    float64
 2   Rep2018           293 non-null    float64
 3   state             293 non-null    object
 4   party             293 non-null    object
 5   voteshare         293 non-null    float64
 6   TRUMP.SCORE       293 non-null    float64
 7   Inc_fname         293 non-null    object
 8   Inc_lname         293 non-null    object
 9   inc_year_elected  293 non-null    object
 10  inc_birth         293 non-null    object
 11  inc_gender        292 non-null    object
 12  inc_race          293 non-null    object
 13  inc_religion      293 non-null    object
 14  inc_lgbtq         293 non-null    object
 15  inc_2016status    293 non-null    object
 16  Clinton_2016      293 non-null    float64
 17  Trump_2016        293 non-null    float64
 18  Obama_2012        293 non-null    float64
 19  Romney_2012       293 non-null    float64
 20  Obama_2008        293 non-null    float64
 21  McCain_2008       293 non-null    float64
 22  HouseD_2016       293 non-null    float64
 23  HouseR_2016       293 non-null    float64
 24  HouseD_2014       293 non-null    float32
 25  HouseR_2014       293 non-null    float64
 26  HouseD_2012       293 non-null    float32
 27  HouseR_2012       293 non-null    float64
 28  White             293 non-null    float64
 29  Black             293 non-null    float64
 30  Latino            293 non-null    float64
 31  Asian             293 non-null    float64
 32  Native            293 non-null    float64
 33  Other             293 non-null    float64
 34  BA                293 non-null    float64
 35  BA_WHite          293 non-null    float64
 36  Med_Income        293 non-null    int64
 37  Inc_F             293 non-null    int64
 38  Rep.forecast      293 non-null    float64
dtypes: float32(2), float64(23), int64(2), object(12)
memory usage: 89.3+ KB

In [83]:
# extracting out the numerical columns 
num_data_no_red = data_no_red.select_dtypes(exclude=[object])
num_data_no_red.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 0 to 322
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dem2018       293 non-null    float64
 1   Rep2018       293 non-null    float64
 2   voteshare     293 non-null    float64
 3   TRUMP.SCORE   293 non-null    float64
 4   Clinton_2016  293 non-null    float64
 5   Trump_2016    293 non-null    float64
 6   Obama_2012    293 non-null    float64
 7   Romney_2012   293 non-null    float64
 8   Obama_2008    293 non-null    float64
 9   McCain_2008   293 non-null    float64
 10  HouseD_2016   293 non-null    float64
 11  HouseR_2016   293 non-null    float64
 12  HouseD_2014   293 non-null    float32
 13  HouseR_2014   293 non-null    float64
 14  HouseD_2012   293 non-null    float32
 15  HouseR_2012   293 non-null    float64
 16  White         293 non-null    float64
 17  Black         293 non-null    float64
 18  Latino        293 non-null    float64
 19  Asian         293 non-null    float64
 20  Native        293 non-null    float64
 21  Other         293 non-null    float64
 22  BA            293 non-null    float64
 23  BA_WHite      293 non-null    float64
 24  Med_Income    293 non-null    int64
 25  Inc_F         293 non-null    int64
 26  Rep.forecast  293 non-null    float64
dtypes: float32(2), float64(23), int64(2)
memory usage: 61.8 KB

In [84]:
num_data_no_red

,Dem2018,Rep2018,voteshare,TRUMP.SCORE,Clinton_2016,Trump_2016,Obama_2012,Romney_2012,Obama_2008,McCain_2008,...,Black,Latino,Asian,Native,Other,BA,BA_WHite,Med_Income,Inc_F,Rep.forecast
0,45.8,53.7,51.39,93.5,37.6,52.8,41.2,55.3,38.1,59.7,...,3.1,5.4,5.0,13.0,5.6,29.6,36.7,76440,0,51.39
1,36.7,63.2,65.84,96.8,34.1,63.5,37.4,61.8,38.5,60.9,...,26.5,1.8,0.9,1.0,1.1,24.0,27.7,47083,0,65.84
2,38.4,61.4,57.86,96.7,33.0,64.9,36.4,62.9,35.0,64.5,...,29.9,1.8,0.7,0.4,1.1,21.8,24.2,42035,1,57.86
3,36.0,63.9,62.03,96.8,32.3,65.3,36.8,62.3,36.6,62.6,...,25.1,1.7,0.7,0.3,0.9,22.8,23.7,46544,0,62.03
4,20.1,79.8,76.97,97.8,17.4,80.4,24.0,74.8,25.5,73.3,...,6.9,1.8,0.5,0.7,1.3,17.0,17.8,41110,0,76.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,38.5,60.2,58.94,94.4,37.3,57.7,47.8,50.9,53.2,45.3,...,0.5,1.2,1.0,1.8,0.9,23.1,23.4,51738,0,58.94
319,36.3,63.7,60.91,94.6,38.6,56.2,47.6,51.3,53.7,45.0,...,1.0,2.2,1.4,2.1,1.0,25.4,26.0,57888,0,60.91
320,35.4,64.6,62.64,97.8,26.4,68.0,35.5,62.2,41.5,56.7,...,2.4,0.9,0.6,0.2,0.9,23.5,23.1,45611,0,62.64
321,43.0,54.0,53.69,84.9,29.4,65.8,38.0,60.0,43.9,54.7,...,3.8,1.3,0.6,0.2,1.6,21.5,21.1,48358,0,53.69
322,29.8,63.6,63.15,95.7,22.5,70.1,28.0,69.2,32.7,65.2,...,0.9,6.9,0.6,1.8,1.5,27.1,28.5,59882,1,63.15

In [119]:
num_data_no_red.drop(['HouseR_2012', 'HouseR_2014'], axis=1).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 0 to 322
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dem2018       293 non-null    float64
 1   Rep2018       293 non-null    float64
 2   voteshare     293 non-null    float64
 3   TRUMP.SCORE   293 non-null    float64
 4   Clinton_2016  293 non-null    float64
 5   Trump_2016    293 non-null    float64
 6   Obama_2012    293 non-null    float64
 7   Romney_2012   293 non-null    float64
 8   Obama_2008    293 non-null    float64
 9   McCain_2008   293 non-null    float64
 10  HouseD_2016   293 non-null    float64
 11  HouseR_2016   293 non-null    float64
 12  HouseD_2014   293 non-null    float32
 13  HouseD_2012   293 non-null    float32
 14  White         293 non-null    float64
 15  Black         293 non-null    float64
 16  Latino        293 non-null    float64
 17  Asian         293 non-null    float64
 18  Native        293 non-null    float64
 19  Other         293 non-null    float64
 20  BA            293 non-null    float64
 21  BA_WHite      293 non-null    float64
 22  Med_Income    293 non-null    int64
 23  Inc_F         293 non-null    int64
 24  Rep.forecast  293 non-null    float64
dtypes: float32(2), float64(21), int64(2)
memory usage: 57.2 KB

In [182]:
# Building a linear regression model to try to predict HouseR_2014 from all other numeric variables 
# excluding HouseR_2012 which we will predict later on. 


X = num_data_no_red.drop(['HouseR_2012', 'HouseR_2014'], axis=1).iloc[:, 0:12]
Y = num_data_no_red['HouseR_2014']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, explained_variance_score

model = linear_model.LinearRegression()

# Training the model 
model.fit(X_train, y_train)

predicted_y = model.predict(X_test)

model2014 = model

mse = mean_squared_error(predicted_y, y_test)

# Explained variance regression score function
# Best possible score is 1.0, lower values are worse.

variance = explained_variance_score(y_test, predicted_y)


mse, variance

(59.480794170043794, 0.8384015711456785)

In [184]:
# Building a linear regression model to try to predict HouseR_2012 from all other numeric variables 
# excluding HouseR_2014


X = num_data_no_red.drop(['HouseR_2012', 'HouseR_2014'], axis=1).iloc[:, 0:12]
Y = num_data_no_red['HouseR_2012']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)


model = linear_model.LinearRegression()

# Training the model 
model.fit(X_train, y_train)

predicted_y = model.predict(X_test)

model2012 = model

mse = mean_squared_error(predicted_y, y_test)

# Explained variance regression score function
# Best possible score is 1.0, lower values are worse.

variance = explained_variance_score(y_test, predicted_y)


mse, variance

(87.60410997793193, 0.7766274106308444)

In [211]:
# Now we will use our models to predict the HouseR_2014 and HouseR_2012 columns

null = data[data['HouseR_2014'].isnull() == True]

num_data = null.select_dtypes(exclude=[object]).iloc[:, 0:12]

predicted_2014 = model2014.predict(num_data)

predicted_2012 = model2012.predict(num_data)

In [223]:
null.loc[:, 'HouseR_2014'] = predicted_2014

null.loc[:, 'HouseR_2012'] = predicted_2012

In [224]:
null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 71 to 303
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          30 non-null     object
 1   Dem2018           30 non-null     float64
 2   Rep2018           30 non-null     float64
 3   state             30 non-null     object
 4   party             30 non-null     object
 5   voteshare         30 non-null     float64
 6   TRUMP.SCORE       30 non-null     float64
 7   Inc_fname         30 non-null     object
 8   Inc_lname         30 non-null     object
 9   inc_year_elected  30 non-null     object
 10  inc_birth         30 non-null     object
 11  inc_gender        30 non-null     object
 12  inc_race          30 non-null     object
 13  inc_religion      30 non-null     object
 14  inc_lgbtq         30 non-null     object
 15  inc_2016status    30 non-null     object
 16  Clinton_2016      30 non-null     float64
 17  Trump_2016        30 non-null     float64
 18  Obama_2012        30 non-null     float64
 19  Romney_2012       30 non-null     float64
 20  Obama_2008        30 non-null     float64
 21  McCain_2008       30 non-null     float64
 22  HouseD_2016       30 non-null     float64
 23  HouseR_2016       30 non-null     float64
 24  HouseD_2014       30 non-null     object
 25  HouseR_2014       30 non-null     float64
 26  HouseD_2012       30 non-null     object
 27  HouseR_2012       30 non-null     float64
 28  White             30 non-null     float64
 29  Black             30 non-null     float64
 30  Latino            30 non-null     float64
 31  Asian             30 non-null     float64
 32  Native            30 non-null     float64
 33  Other             30 non-null     float64
 34  BA                30 non-null     float64
 35  BA_WHite          30 non-null     float64
 36  Med_Income        30 non-null     int64
 37  Inc_F             30 non-null     int64
 38  Rep.forecast      30 non-null     float64
dtypes: float64(23), int64(2), object(14)
memory usage: 10.6+ KB

In [236]:
null['HouseR_2014']

71     67.989829
72     62.998575
73     46.672230
74     62.946733
75     60.369412
77     73.103563
78     41.382958
79     33.872153
80     67.045826
81     56.654905
82     64.609477
83     71.366858
84     36.250367
85     51.107158
87     44.710751
184    31.139093
185    66.362139
186    64.359237
187    30.481020
188    57.974612
189    59.480741
190    27.229718
191    64.183021
192    63.846744
193    62.463769
194    62.920176
298    63.687991
301    60.026565
302    38.516680
303    59.706568
Name: HouseR_2014, dtype: float64

In [235]:
# join the null dataset with the original dataset, want to join on null 

data.join(null)

ValueError: columns overlap but no suffix specified: Index(['District', 'Dem2018', 'Rep2018', 'state', 'party', 'voteshare',
       'TRUMP.SCORE', 'Inc_fname', 'Inc_lname', 'inc_year_elected',
       'inc_birth', 'inc_gender', 'inc_race', 'inc_religion', 'inc_lgbtq',
       'inc_2016status', 'Clinton_2016', 'Trump_2016', 'Obama_2012',
       'Romney_2012', 'Obama_2008', 'McCain_2008', 'HouseD_2016',
       'HouseR_2016', 'HouseD_2014', 'HouseR_2014', 'HouseD_2012',
       'HouseR_2012', 'White', 'Black', 'Latino', 'Asian', 'Native', 'Other',
       'BA', 'BA_WHite', 'Med_Income', 'Inc_F', 'Rep.forecast'],
      dtype='object')