In [101]:
import numpy as np
import pandas as pd
from datetime import datetime
pd.set_option('mode.chained_assignment', None)

In [102]:
import pickle


with open('WVS.pkl', 'rb') as f:
    world_values = pickle.load(f)

In [103]:
world_values

,B_COUNTRY,A_WAVE,A_STUDY,B_COUNTRY_ALPHA,C_COW_NUM,C_COW_ALPHA,A_YEAR,D_INTERVIEW,J_INTDATE,K_TIME_START,...,WVS_Polmistrust_PartyVoter,WVS_LR_MedianVoter,WVS_LibCon_MedianVoter,v2psbars,v2psorgs,v2psprbrch,v2psprlnks,v2psplats,v2xnp_client,v2xps_party
0,20,7,2,AND,232,AND,2018,20070001,20180704,18.2,...,62.4342,.,.,.,.,.,.,.,.,.
1,20,7,2,AND,232,AND,2018,20070002,20180714,9.35,...,62.4342,.,.,.,.,.,.,.,.,.
2,20,7,2,AND,232,AND,2018,20070003,20180704,10.15,...,62.4342,.,.,.,.,.,.,.,.,.
3,20,7,2,AND,232,AND,2018,20070004,20180702,17.05,...,.,.,.,.,.,.,.,.,.,.
4,20,7,2,AND,232,AND,2018,20070005,20180708,10.2,...,66.9643,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69573,840,7,2,USA,2,USA,2017,840073592,.,.,...,70.6639,5.62,5.7308,2.513,1.449,1.874,1.913,2.364,0.09,0.863
69574,840,7,2,USA,2,USA,2017,840073593,.,.,...,.,.,.,.,.,.,.,.,.,.
69575,840,7,2,USA,2,USA,2017,840073594,.,.,...,70.6639,5.62,5.7308,2.513,1.449,1.874,1.913,2.364,0.09,0.863
69576,840,7,2,USA,2,USA,2017,840073595,.,.,...,70.6639,5.62,5.7308,2.513,1.449,1.874,1.913,2.364,0.09,0.863
69577,840,7,2,USA,2,USA,2017,840073596,.,.,...,.,.,.,.,.,.,.,.,.,.

In [104]:
world_values = world_values[['E_RESPINT', 'F_INTPRIVACY', 'H_SETTLEMENT', 'H_URBRURAL', 'K_DURATION', 'J_INTDATE', 'A_YEAR', 'B_COUNTRY_ALPHA', 'Q1', 'Q4', 'Q5', 'Q6', 'Q29', 'Q30', 'Q33', 'Q160', 'Q164']]
world_values

,E_RESPINT,F_INTPRIVACY,H_SETTLEMENT,H_URBRURAL,K_DURATION,J_INTDATE,A_YEAR,B_COUNTRY_ALPHA,Q1,Q4,Q5,Q6,Q29,Q30,Q33,Q160,Q164
0,1,1,1,1,88,20180704,2018,AND,1,3,1,4,3,3,4,7,7
1,1,1,2,1,85,20180714,2018,AND,1,4,1,4,3,3,4,9,1
2,1,1,2,1,30,20180704,2018,AND,1,2,3,3,3,3,4,8,8
3,2,1,2,1,75,20180702,2018,AND,1,4,2,4,4,4,4,5,1
4,2,1,2,1,89,20180708,2018,AND,1,3,1,3,3,3,4,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69573,2,1,.,.,.,.,2017,USA,1,2,1,1,4,4,4,7,1
69574,1,2,.,.,.,.,2017,USA,1,3,2,3,4,3,3,1,5
69575,1,1,.,.,.,.,2017,USA,1,4,3,3,4,4,4,1,1
69576,2,1,.,.,.,.,2017,USA,1,3,2,4,4,4,4,3,2
69577,.,1,.,.,.,.,2017,USA,.,.,.,.,3,3,.,10,10

In [106]:
def dtime(x):
    if '20' in str(x):
        return x
    else:
        return pd.NaT

world_values['Date'] = [dtime(x) for x in world_values['J_INTDATE']]
world_values.drop(columns = ['J_INTDATE'])

#interest level of participants in interview
def respint(x):
    if x== 1:
        return 1
    elif x== 2:
        return 2
    elif x==3:
        return 3
    else:
        return pd.NaT
world_values['Interest']= [respint(x) for x in world_values['E_RESPINT']]
world_values = world_values.drop(columns = ['E_RESPINT'])

#privacy level of interview, based on whether there was other people around who could follow the interview
def priv(x):
    if x== 1:
        return 1
    elif x== 2:
        return 2
    else:
        return pd.NaT
world_values['Privacy']= [priv(x) for x in world_values['F_INTPRIVACY']]
world_values=world_values.drop(columns = ['F_INTPRIVACY'])


#Type of settlement where the interview took place
def settype(x):
    if x== 1:
        return 1
    elif x== 2:
        return 2
    elif x== 3:
        return 3
    elif x== 4:
        return 4
    elif x==5:
        return 5
    else:
        return pd.NaT
world_values['Settlement_type']= [settype(x) for x in world_values['H_SETTLEMENT']]
world_values=world_values.drop(columns = ['H_SETTLEMENT'])

#whether the settlement was urband or rural
def ur(x):
    if x== 1:
        return 1
    elif x== 2:
        return 2
    else:
        return pd.NaT
world_values['Urban/Rural']= [ur(x) for x in world_values['H_URBRURAL']]
world_values=world_values.drop(columns = ['H_URBRURAL'])

# Duration of the interview
def dur(x):
    if type(x) == float:
        return x
    else:
        return pd.NaT
world_values['Interview_Len']= [dur(x) for x in world_values['K_DURATION']]
world_values=world_values.drop(columns = ['K_DURATION'])

#rename columns of year and country code where no null values exist
world_values=world_values.rename(columns = {'A_YEAR' : "Year"})
world_values=world_values.rename(columns = {'B_COUNTRY_ALPHA' : "Country_Code"})

#believe in god yes or no
def god(x):
    if x== 1:
        return 1
    elif x== 2:
        return 2
    else:
        return pd.NaT
world_values['Godly_Belief']= [god(x) for x in world_values['Q164']]
world_values=world_values.drop(columns = ['Q164'])

#Importance of different values
def imp(x):
    if type(x) == int:
        if x>=1 and x<=4:
            return x
        else:
            return pd.NaT
    else:
        return pd.NaT
world_values['Family_Importance']= [imp(x) for x in world_values['Q1']]
world_values['Politics_Importance']= [imp(x) for x in world_values['Q4']]
world_values['Work_Importance']= [imp(x) for x in world_values['Q5']]
world_values['Religion_Importance']= [imp(x) for x in world_values['Q6']]
world_values=world_values.drop(columns = ['Q1', 'Q4', 'Q5', 'Q6'])

#whe depend too much on science and not enough on faith
def tenscale(x):
    if x== 1 or x==2 or x==4:
        return 4
    elif x==5 or x==4:
        return 3
    elif x== 7 or x==6:
        return 2
    elif x== 8 or x==9 or x==10:
        return 1
    else:
        return pd.NaT
world_values['Faith_Over_Science']= [tenscale(x) for x in world_values['Q160']]
world_values = world_values.drop(columns = ['Q160'])

#importance of different issues relating to gender
def gen(x):
    if type(x) == int:
        if x>=1 and x<=4:
            return x
        else:
            return pd.NaT
    else:
        return pd.NaT
    
def gen2(x):
    if x==1:
        return 1
    elif x==2 or x==3:
        return 2
    elif x==4:
        return 3
    elif x==5:
        return 4
    else:
        return pd.NaT
#Men make better politicians than women
world_values['Gender_Politics']= [gen(x) for x in world_values['Q29']]
#university is more important for aboy than a girl men should have more right to a job than women
world_values['Gender_University']= [gen(x) for x in world_values['Q30']]
# we depend too much on science and less on faith
world_values['Gender_Work']= [gen2(x) for x in world_values['Q33']]
world_values = world_values.drop(columns = ['Q29', 'Q30', 'Q33'])


#drop null values
world_values = world_values.dropna()

world_values['Date'] = [datetime.strptime(str(x), "%Y%m%d") for x in world_values['Date']]

questions about importance on a scale of 1-4 with 1 being very important and 4 being not important at all.
questions about agreement (faith, gender) scale of 1-5 with 1 being agree strongly and 5 being disagree strongly

In [107]:
world_values

,J_INTDATE,Year,Country_Code,Date,Interest,Privacy,Settlement_type,Urban/Rural,Interview_Len,Godly_Belief,Family_Importance,Politics_Importance,Work_Importance,Religion_Importance,Faith_Over_Science,Gender_Politics,Gender_University,Gender_Work
1,20180714,2018,AND,2018-07-14,1,1,2,1,85,1,1,4,1,4,1,3,3,3
3,20180702,2018,AND,2018-07-02,2,1,2,1,75,1,1,4,2,4,3,4,4,3
12,20180722,2018,AND,2018-07-22,1,1,2,1,65,1,1,3,2,4,1,4,4,4
16,20180715,2018,AND,2018-07-15,1,1,2,1,50,1,1,4,1,4,4,4,4,4
22,20180709,2018,AND,2018-07-09,1,1,2,1,70,1,1,4,1,4,1,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62100,20180211,2018,THA,2018-02-11,2,1,5,1,75,1,1,2,1,2,4,3,4,3
62101,20180211,2018,THA,2018-02-11,2,1,5,1,60,1,1,2,1,2,4,3,4,3
62122,20180226,2018,THA,2018-02-26,1,1,5,1,59,1,1,1,1,2,2,3,3,3
62127,20180226,2018,THA,2018-02-26,2,2,5,1,75,1,1,3,1,1,3,2,4,3
62152,20171211,2018,THA,2017-12-11,1,2,5,1,45,1,1,2,1,1,4,4,4,3

In [108]:
world_values.to_csv(r'C:\Users\5mika\Desktop\polisci3\DSEP-polisci3\World Values Data Cleaning\worldvalues.csv', index = False, header=True)